WOOCOMMERCE_URL=https://yourwebsite.com
WOOCOMMERCE_KEY=ck_***************************
WOOCOMMERCE_SECRET=cs_***************************

OLLAMA_URL=http://192.168.10.10:11434
OLLAMA_MODEL=qwen3:4b

# AI Provider Settings (choose either 'ollama' or 'gemini')
AI_PROVIDER=gemini
GEMINI_API_KEY=***************************